.anime-description{
    background-color: rgb(55, 55, 55);
    flex: 1 1 ;
    display: flex;
    position: relative;
    width: 100%;
}

.anime-description__left-side{
    background-color: rgb(79, 79, 79);
    padding: 1.5rem;
    display: flex;
    position: relative;
    flex: 0 0 30%;
}
.anime-description__img{
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 100%;
    position: relative;

}
.anime-description__img img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.anime-description__right-side{
    color: rgb(221, 221, 221);
    padding: 1rem;
}

.anime-description__key{
    padding: 0 0 0 0.5rem;
    flex:  0 0 30%;
}
.anime-description__value{
    align-items: center;
    border-left: 1px solid white;
    padding: 1.2rem;
    margin: -1rem;
    flex: 0 0 70%;
}
.anime-description__item{
    border: 1px solid white;
    position: relative;
    padding: 1rem 0 ;
    justify-content: space-between;
    background-color: rgb(70, 70, 70);
    align-items: center;
    display: flex;

}

@media (max-width:600px) {
    .anime-description{
        flex-direction: column;
    }
    .anime-description__left-side{
        background-color: rgb(79, 79, 79);
        display: flex;
        height: 100px;
        padding: .5rem;
    }
    .anime-description__img{
        padding: 0 0 30%;
    
    }
}





